* {
  box-sizing: border-box;
}

body {
  position: relative;
}

.App {
  background-color: #c3cfe6;
  /* height: 100vh; */
  padding: 10px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.App-header {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-weight: 600;
  color: white;
  padding-top: 40px;
  /* border: 2px solid red; */
}

.insert-icon {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  /* border: 2px solid red; */
}
.date {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  font-size: 20px;
  padding-left: 50px;
  font-weight: bold;
  /* border: 2px solid red; */
}



